{% load static %}
<!DOCTYPE html>
<html>
  <head>
  {% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{{ bookingform.media }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
  <div>
   <div>{% include 'profiles/serviceUserNavbar.html' %}</div> 
    <div class="main-booking">
      <div class="card" id="booking-card">
        {% if serviceprovider.id %}
          <h4 class="heading3">
            <small style= "color:black", "fontSize: 30px", "fontWeight:bold"> Booking </small>
            {{serviceprovider.fullname}}
          </h4>
          <h6 class="heading3">
            From {{serviceprovider.phyadd}}
          </h6>
          <h6 class="heading3">
            <small> {{serviceprovider.pricevisit}}UGX per Visit</small>
          </h6>
          <br /> 
          {% endif %}

         {% if request.user.serviceuser and not request.user.serviceprovider  %}
         <form name="bookingform" class="" action="" method="POST" id="form">
          {% csrf_token %}
         <div class="form-group row">
          <label for="" class="col-sm-3 col-form-label"
              >Full Name: </label>
            <div class="col-sm-9">
               <input
                type="text"
                name="name"
                class="form-control"
                value="{{user.serviceuser.firstname}} {{user.serviceuser.lastname}}"
                {% comment %} hidden {% endcomment %}
              /> 
            </div>
          </div>
          </br>
         <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label"
              >Phone No:</label
            >
            <div class="col-sm-9">
              {{bookingform.phone}}
            </div>
          </div>
          </br>
           <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label"
              >Email: </label
            >
            <div class="col-sm-9">
              <input
                type="text"
                name="email"
                class="form-control"
                value="{{user.serviceuser.email}}"
              />
            </div>
          </div>
          </br>
          <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label"
              >Meeting Place:</label
            >
            <div class="col-sm-9">
              {{bookingform.meetplace}}
            </div>
          </div>
          </br>
          <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label"
              >Meeting Date:</label
            >
            <div class="col-sm-9">
              {{bookingform.meetdate}}
            </div>
          </div>
          <br /> 

         <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label"
              >Service User:</label
            > 
            <div class="col-sm-9">
               <input
                type="text"
                name="serviceuser"
                class="form-control"
                value="{{serviceuser.id}}"
                {% comment %} hidden {% endcomment %}
              />
            </div> 
          </div> 
          <br/>
           {% if serviceprovider.id %}
          <div class="form-group row"> 
           <label for="" class="col-sm-3 col-form-label"
              >Service Provider:</label> 
           <div class="col-sm-9" >
               <input
                type="text"
                name="serviceprovider"
                class="form-control"
                value="{{serviceprovider.id}}"
                {% comment %} hidden {% endcomment %}
              />
            </div>
          </div>
          {% endif %}
          </br> 
          <p class="col-sm-3 col-form-label"><b>Meeting Time:</b></p></br>
          <div class="form-row" id="time-stamp">
            <div class="form-group col-md-5" id="left-time">
              <label for="starttime">Start Time:</label>
               {{bookingform.starttime}}
            </div>

            <div class="form-group col-md-2"></div>
            
            <div class="form-group col-md-5" id="right-time">
              <label for="endtime" >End Time:</label>
               {{bookingform.endtime}}
            </div>
          </div> 
          {% endif %}
          {% comment %} <br />  {% endcomment %}
            <div class="form-row">
            <input type="submit" value="BOOK NOW" name="booking-btn" class="btn btn-success" id="book-btn"/>
          </div> 
        </form>
      </div>
    </div>
    </div>
     <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
