{% load static %}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" onclick="location.href='/';">
          <img
           class="logo-img"
           src="{% static 'images/Logo.png' %}"
           alt="Dasuns logo"
           style="height: 50px"
          />
        </a>
  
      </div>
      <div class="col-md">FAQ</div>
      <div class="col-md">
        Contact us<br />
        dasunsorg@gmail.com<br />
        +256 701 909835<br />
        +256 772 909835
        <!-- <a href="tel:+256701909835">+256 701 909835</a><br />
        <a href="tel:+256772909835">+256 772 909835</a> -->
      </div>
      <div class="col-md">
        <div>Follow us</div>
        <div></div>
      </div>
    </div>
  </div>
 </div>
