<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Service User Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
    {% if user.is_staff or user.is_admin%}
    <div>{% include 'profiles/dashboard.html' %}</div>
    {% elif request.user.serviceprovider %}
    <div>{% include 'profiles/serviceProviderDashboard.html' %}</div>
    {% elif request.user.serviceuser and not request.user.serviceprovider %}
    <div>{% include 'profiles/serviceuserdash.html' %}</div>
    {% else %}
    <p>You are not authorized to view this dasboard</p>
    {% endif %}
  </body>
</html>
