{% load static %}
<container>
  <nav
    class="navbar navbar-expand-lg navbar-light md-light"
    id="navbar-service-user"
  >
    <a class="navbar-brand" onclick="location.href='/';">
      <img
        class="logo-img offset-2"
        src="{% static 'images/Logo.png' %}"
        alt="Dasuns logo"
        style="height: 60px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse offset-4" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/splist">Services</a>
        </li>
        {% comment %}
        <li class="nav-item">
          <a class="nav-link" href="#">My Requests</a>
        </li>
        {% endcomment %} {% comment %}
        <li>
          <button
            type="button"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            Request service
          </button>
        </li>
        {% endcomment %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Welcome, {{user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.serviceuser%}
            <a class="dropdown-item" href="/serviceuserdash">My Dashboard</a>
            <a class="dropdown-item" href="/profile">View Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/splist"
            ><button type="button" id="provide-btn" class="btn btn-success">
              Request service
            </button></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</container>
