<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Service User Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
   {% comment %} {% if request.user.serviceuser and not request.user.serviceprovider%} {% endcomment %}
 <div>{% include 'profiles/serviceUserNavbar.html' %}</div>
 <hr/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="orders">
          {% comment %} {% if request.user.serviceuser%} {% endcomment %}
          {% if bookings %} {% for booking in bookings %}
            <h3>All New Requests</h3>
            <hr />
            <br/>
            <table class="table">
              <thead
                class="thead-dark"
                style="color: #fff; background-color: rgb(12, 83, 39)"
              >
                <tr>
                  <th scope="col">Service Provider</th>
                  <th scope="col">Service</th>
                  <th scope="col">Price per visit(UGX)</th>
                  <th scope="col">Meeting Place</th>
                  <th scope="col">Date/time</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <td>{{booking.serviceprovider.fullname}}</td>
                  <td>{{booking.serviceprovider.service}}</td>
                  <td>{{booking.serviceprovider.pricevisit}}</td>
                  <td>{{booking.meetplace}}</td>
                  <td>{{booking.meetdate}}, {{booking.starttime}}</td>
                  <td>{{booking.status}}Booked</td>
                </tr>
                {% endfor %}
                {% else %}
                <p>You have not yet booked any service</p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>{% include 'profiles/footer.html' %}</div>
  </body>
</html>
