<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Service User Dashboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
    {% comment %} {% if request.user.serviceprovider %} {% endcomment %}
    <div>{% include 'profiles/serviceProvNavbar.html' %}</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="orders">
            {% if bookings %} {% for booking in bookings %}
            <h3>Last 10 Bookings</h3>
            <hr />
            <br />
            <table class="table">
              <thead
                class="thead-dark"
                style="color: #fff; background-color: rgb(12, 83, 39)"
              >
                <tr>
                  <th scope="col">Booked by</th>
                  <th scope="col">Service booked</th>
                  <th scope="col">Price per visit(UGX)</th>
                  <th scope="col">Meeting Place</th>
                  <th scope="col">Date/time</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{booking.serviceuser.firstname}}  {{booking.serviceuser.lastname}}</td>
                  <td>{{booking.serviceprovider.service}}</td>
                  <td>{{booking.serviceprovider.pricevisit}}</td>
                  <td>{{booking.meetplace}}</td>
                  <td>{{booking.meetdate}}, {{booking.starttime}}</td>
                  <td>{{booking.status}}<a href="/"> <span style="color:purple;">Accept</span></a> | <a href="/"><span style="color:red">Deny</span></a></td>
                </tr>
                {% endfor %} {% else %}
                <p>No one has booked your services at the moment</p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div>{% include 'profiles/footer.html' %}</div>
  </body>
</html>
