<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
    </head>
    <body>
    <div class="container">
    <nav class="navbar" id="navID">
    <button type="button" class="toggle-collapse" id="toggle-button">
   <span class="toggle-icon"></span>
    </button>

    <ul class="side-nav">
    <li class="nav-item">
    <a href="#" class="site-name">Daily Tuition</a>
    </li>
     <li class="nav-item">
    <a href="#" class="nav-link">Home</a>
    </li>
     <li class="nav-item">
    <a href="#" class="nav-link">Blog</a>
    </li>
     <li class="nav-item">
    <a href="#" class="nav-link">Features</a>
    </li>
    
    
    
    
    </nav>
    </div>

        <script src="" async defer></script>
    </body>
</html>