{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Dasuns</title>
    <link rel="stylesheet" type="text/css" href="./multi-form.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static '/js/multi-form.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/multi-form.css' %}"
    />
   
    <script type="text/javascript">
      $(document).ready(function () {
        // $.validator.addMethod('date', function(value, element, param) {
        // 	return (value != 0) && (value <= 31) && (value == parseInt(value, 10));
        // }, 'Please enter a valid date!');
        $.validator.addMethod(
          "email",
          function (value, element, param) {
            var emailRegex =
              /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return value.match(emailRegex);
          },
          "Please enter a valid e-mail!"
        );

        $.validator.addMethod(
          "year",
          function (value, element, param) {
            return value != 0 && value >= 1900 && value == parseInt(value, 10);
          },
          "Please enter a valid year not less than 1900!"
        );
        $.validator.addMethod(
          "username",
          function (value, element, param) {
            var nameRegex = /^[a-zA-Z0-9]+$/;
            return value.match(nameRegex);
          },
          "Only a-z, A-Z, 0-9 characters are allowed"
        );
        // $.validator.addMethod(
        //   "date",
        //   function (value, element, param) {
        //     var dateRegex = /^\s*(3[01]|[12][0-9]|0?[1-9])\/(1[012]|0?[1-9])\/((?:19|20)\d{2})\s*$/;
        //     return value.match(dateRegex);
        //   },
        //   "Enter valid date"
        // );

        var val = {
          // Specify validation rules
          rules: {
            fullname: "required",
            email: {
              required: true,
              email: true,
            },
            phone: {
              required: true,
              minlength: 10,
              maxlength: 10,
              digits: true,
            },
            // dob: {
            // 	date: true,
            //   required: true,
            // },
            gender: {
              required: true,
            },
            nin: {
              required: true,
            },
            phyadd: {
              required: true,
            },
            password: {
              required: true,
              minlength: 8,
              maxlength: 16,
            },
            yearexp: {
              required: true,
            },
            notmidman: {
              required: true,
            },
            skillset: {
              required: true,
            },
            internet: {
              required: true,
            },
            myfile: {
              required: true,
            },
            profession: {
              required: true,
            },
            ref1name: {
              required: true,
            },
            ref1email: {
              email: true,
              required: true,
            },
            ref1title: {
              required: true,
            },
            ref1phone: {
              required: true,
            },
            ref2name: {
              required: true,
            },
            ref2email: {
              email: true,
              required: true,
            },
            ref2title: {
              required: true,
            },
            ref2phone: {
              required: true,
            },
            service: {
              required: true,
            },
            starttime: {
              required: true,
            },
            endtime: {
              required: true,
            },
            pricevisit: {
              required: true,
            },
            terms: {
              required: true,
            },
          },
          // Specify validation error messages
          messages: {
            fullname: "Fullname is required",
            email: {
              required: "Email is required",
              email: "Please enter a valid e-mail",
            },
            phone: {
              required: "Phone number is requied",
              minlength: "Please enter 10 digit mobile number",
              maxlength: "Please enter 10 digit mobile number",
              digits: "Only numbers are allowed in this field",
            },
            // dob: {
            // 	date:"Please enter a valid date of birth",
            //   required: "Date of birth is required",

            // },
            gender: {
              required: "Gender is required",
            },
            nin: {
              required: "NIN or passport number is required",
            },
            phyadd: {
              required: "Physical address is required",
            },
            password: {
              required: "Password is required",
              minlength: "Password should be minimum 8 characters",
              maxlength: "Password should be maximum 16 characters",
            },
            yearexp: "This field required",
            notmidman: "This field required",
            skillset: "This field required",
            internet: "This field required",
            myfile: "This field required",
            terms: "You need to agree to the terms and conditions to register",
          },
        };
        $("#myForm")
          .multiStepForm({
            // defaultStep:0,
            beforeSubmit: function (form, submit) {
              console.log("called before submiting the form");
              console.log(form);
              console.log(submit);
            },
            validations: val,
          })
          .navigateTo(0);
      });
    </script>
  </head>
  <body>
    
    <form id="myForm" action="{% url 'profiles:spregsave' %}"
    method="post"
    enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align: center; margin-top: 40px">
        <span class="step">1</span>
        <span class="step">2</span>
        <span class="step">3</span>
        <span class="step">4</span>
        <span class="step">5</span>
      </div>

      <br />
      <br />
      <br />
      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        <div class="form-title text-center">
          Sign up by following the process to join Dasuns community of service
          providers
        </div>
        <label for="fullname" class="labels">Fullname:</label>
        <p><input name="fullname" /></p>
        <label for="fullname">Phone Number:</label>
        <p><input name="phone" class /></p>
        <label for="fullname">Email Address:</label>
        <p><input name="email" /></p>
        <label for="fullname">NIN or Passport number:</label>
        <p><input name="nin" /></p>
        <label for="fullname">Date of Birth:</label>
        <p><input type="date" name="dob" /></p>
        <label for="fullname">Gender:</label>
        <p>
          <select name="gender">
            <option selected></option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </p>
        <label for="fullname">Physical Address:</label>
        <p><input type="text" name="phyadd" /></p>
      </div>
      <div class="tab">
        <h2 class="form-title">Eligibility</h2>
        <div class="form-sub-title">
          As a Dasuns professional Service Provider, make sure you meet the
          criteria by selecting the options which apply to you below
        </div>

        <div>
          <br />
          <input
            class="form-check-input form-check-inline"
            type="checkbox"
            value="I have the skillset"
            id="yearexp"
            name="yearexp"
          />
          <label class="form-check-label" for="yearexp">
            I have at least one year of experience in your profession
          </label>
          <br />
          <br />
          <input
            class="form-check-input form-check-inline"
            type="checkbox"
            value="I have the skillset"
            id="notmidman"
            name="notmidman"
          />
          <label class="form-check-label" for="notmidman">
            I am not a middleman
          </label>
          <br />
          <br />
          <input
            class="form-check-input form-check-inline"
            type="checkbox"
            value="I have the skillset"
            id="skillset"
            name="skillset"
          />
          <label class="form-check-label" for="skillset">
            I have the skillset to give professional service
          </label>
          <br />
          <br />
          <input
            class="form-check-input form-check-inline"
            type="checkbox"
            value="I have a connected device"
            id="internet"
            name="internet"
          />
          <label class="form-check-label" for="internet">
            I have a phone/computer with an active Internet connection
          </label>
          <br />
          <br />

          <br />
          <br />
        </div>
      </div>
      <div class="tab">
        <h2 class="form-title">Evidence of Expertise</h2>
        <h3 class="form-sub-title">
          Please provide your technical training qualifications.
        </h3>
        <label for="myfile">Upload your Qualifications:</label>
        <input
          class="fullinput"
          type="file"
          id="myfile"
          name="qualification"
          required
        />
        <br />
        <br />
        <label>
          Please provide a link to your portfolio. (Could be a link to a website
          or social media page)
        </label>
        <label for="">Link to your portfolio</label>
        <input class="fullinput" type="text" name="portifolio" id="portfolio" />
        <p>Please leave it blank if you don't have an online portfolio.</p>
      </div>
      <div class="tab">
        <div class="form-title">We only work with professionals</div>
        <div class="form-sub-title">
          We would like to tell us more about yourself and the professional
          service that you offer.
        </div>
        <textarea
          class="fullinput"
          class="form-control"
          rows="6"
          name="profession"
        ></textarea>
        <br />
        <br />
        <br />
        <div class="form-title">
          Provide us with 2 referees whom we can contact
        </div>
        <div class="div">
          <div class="form-sub-title">Referee 1</div>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Fullname</label>
              <input
                class="fullinput"
                type="text"
                name="ref1name"
                id="ref1name"
                class="ref1name"
                placeholder="Full name"
              />
              <br />
              <br />
              <label for="">Email</label>
              <input
                class="fullinput"
                type="text"
                name="ref1email"
                id="ref1email"
                class="ref1email"
                placeholder="Email"
              />
            </div>
            <div class="col-sm-6">
              <label for="">Title</label>
              <input
                class="fullinput"
                type="text"
                name="ref1title"
                id="ref1title"
                class="ref1title"
                placeholder="Title/Desccription"
              />
              <br />
              <br />
              <label for="">Phone number</label>
              <input
                class="fullinput"
                type="text"
                name="ref1phone"
                id="ref1phone"
                class="ref1phone"
                placeholder="Phone"
              />
            </div>
          </div>
        </div>
        <br />
        <br />
        <div>
          <div class="form-sub-title">Referee 2</div>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Fullname</label>
              <input
                class="fullinput"
                type="text"
                name="ref2name"
                id="ref2name"
                class="ref2name"
                placeholder="Full name"
              />
              <br />
              <br />
              <label for="">Email</label>
              <input
                class="fullinput"
                type="text"
                name="ref2email"
                id="ref2email"
                class="ref2email"
                placeholder="Email"
              />
            </div>
            <div class="col-sm-6">
              <label for="">Title</label>
              <input
                class="fullinput"
                type="text"
                name="ref2title"
                id="ref2title"
                class="ref2title"
                placeholder="Title/Desccription"
              />
              <br />
              <br />
              <label for="">Phone number</label>
              <input
                class="fullinput"
                type="text"
                name="ref2phone"
                id="ref2phone"
                class="ref2phone"
                placeholder="Phone"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="tab">
        <h2 class="fs-title">
          Finally enter your services, price & availability.
        </h2>
        <h3 class="fs-subtitle">
          We would like you to capture your availability and pricing per visit.
        </h3>
        <label>Service</label>
        <div>
          <select
            class="custom-select my-1 mr-sm-2"
            id="service"
            name="service"
          >
            <option selected></option>
            <option value="Personal Support Assistance">
              Personal Support Assistance
            </option>
            <option value="Ugandan Sign Language Interpreter">
              Ugandan Sign Language Interpreter
            </option>
            <option value="International Sign Language Interpreter">
              International Sign Language Interpreter
            </option>
            <option value="Captioning">Captioning</option>
            <option value="Mobility Guide">Mobility Guide</option>
            <option value="Tactile Sign Language Interpreter">
              Tactile Sign Language Interpreter
            </option>
          </select>
          <!-- <div>
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Personal Support Assistance"
              name="service"
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              Personal Support Assistance
            </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Ugandan Sign Language Interpreter"
              name="service"
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              Ugandan Sign Language Interpreter
            </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="International Sign Language Interpreter"
              name="service"
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              International Sign Language Interpreter
            </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Captioning"
              name="service"
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              Captioning
            </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Mobility Guide"
              name="service"
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              Mobility Guide
            </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Tactile Sign Language Interpreter"
              name="service"
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              Tactile Sign Language Interpreter
            </label>
          </div> -->
        </div>
        <br />
        <label>Enter your service availability</label>
        <br />
        Days
        <br />
        <br />
        <div>
          <div>
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Sunday"
              name="availability"
              id="sunday"
            />
            <label class="form-check-label" for="sunday"> Sunday </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Monday"
              name="availability"
              id="monday"
            />
            <label class="form-check-label" for="monday"> Monday </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Tuesday"
              name="availability"
              id="tuesday"
            />
            <label class="form-check-label" for="tuesday"> Tuesday </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Wednesday"
              name="availability"
              id="wednesday"
            />
            <label class="form-check-label" for="wednesday"> Wednesday </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Thursday"
              name="availability"
              id="thursday"
            />
            <label class="form-check-label" for="thursday"> Thursday </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Friday"
              name="availability"
              id="friday"
            />
            <label class="form-check-label" for="friday"> Friday </label>
            <br />
            <input
              class="form-check-input form-check-inline"
              type="checkbox"
              value="Friday"
              name="availability"
              id="saturday"
            />
            <label class="form-check-label" for="saturday"> Saturday </label>
            <br />
          </div>
        </div>
        <br />
        <input type="hidden" id="status" name="status" value="Pending" />
        <div>
          <div class="row">
            <div class="col-md-6">
              <label for="starttime">Start Time</label>
              <input
                class="fullinput"
                type="time"
                id="starttime"
                name="starttime"
                value="starttime"
              />
            </div>

            <div class="col-md-6">
              <label for="endtime">End time</label>
              <input
                class="fullinput"
                type="time"
                id="endtime"
                name="endtime"
                value="endtime"
              />
            </div>
          </div>
          <br />
          <div>
            <div class="row">
              <div class="col-md-6">
                <label for="pricevisit">Price per hour</label>
                <input
                  class="fullinput"
                  type="text"
                  name="pricevisit"
                  id="pricevisit"
                  class="price"
                  placeholder="Price per hour"
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <br />
          <div class="form-check">
            <input
              class="form-check-input form-check-inline"
              name="terms"
              type="checkbox"
              value="Agree to T&C"
              id="flexCheckDefault"
            />

            <label class="form-check-label" for="terms">
              I agree to the terms and conditions set by Dasuns.
            </label>
          </div>
        </div>
      </div>
      <div style="overflow: auto">
        <div style="margin-top: 15px">
          <button type="button" class="previous">Previous</button>
          <button type="button" class="next">Next</button>
          <button type="button" class="submit">Submit</button>
        </div>
      </div>
      <!-- Circles which indicates the steps of the form: -->
    </form>
  </body>
</html>
