{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dasuns</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
    <div>{% include 'profiles/navbar.html' %}</div>
    <h1>Dashboard</h1>

    <form class="msform">
      <!-- progressbar -->
      <ul class="progressbar">
        <li class="active">Account Setup</li>
        <li>Social Profiles</li>
        <li>Personal Details</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Create your account</h2>
        <h3 class="fs-subtitle">This is step 1</h3>

        <div class="row mb-3">
          <div class="col-md-8 offset-md-2">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Full Name"
              required
            />
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-8 offset-md-2">
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="Phone Number"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8 offset-md-2">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8 offset-md-2">
            <input
              type="text"
              class="form-control"
              id="nin"
              placeholder="NIN"
              required
            />
          </div>
        </div>
      
        </div>
        <div class="row mb-3">
          <div class="col-md-8 offset-md-2">
            <input
              type="date"
              class="form-control"
              id="dob"
              placeholder="DOB" 
              required
            />
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-2">
             <select class="form-select" aria-label="Default select example" required >
            <option selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-8 offset-md-2">
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="Physical address"
              required
            />
          </div>
          <div>
          <input type="button" name="next" class="next action-button" value="Next" />
        </div>

      </fieldset>
      <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Eligibility</h2>
         As a Dasuns professional service provider, Make sure you meet the criteria <br /><br />
         by selecting the options which apply to you below.
        
         <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
          <div>
              You are only allowed to proceed to the other steps by checking all fields. If you do
              not meet the above eligibility requirements you cannot proceedto the other steps.
              You can always sign up later when you meet all the above eligibility requirements.
          </div>
         
        <input
          type="button"
          name="previous"
          class="previous action-button"
          value="Previous"
        />
        <input
          type="submit"
          name="submit"
          class="submit action-button"
          value="Submit"
        />
      </fieldset>
      <fieldset>
          <h2>Evidence of Expertise</h2>
          Please provide your technical training or your qualifications.
            
        </fieldset>
      <fieldset></fieldset>
    </form>

    <script src="{% static 'js/jscript.js' %}"></script>
  </body>
</html>
