{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Providers</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
    <div>{% include 'profiles/serviceUserNavbar.html' %}</div>
    <div class="white-service">
      <h2>All Services</h2>
      <div class="row">
        <div class="col-md-4" onclick="location.href='/support';">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                  style="padding: 10px"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Personal Support Assistance</h5>
                  <p class="card-text" id="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" onclick="location.href='/ugandan';">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                  style="padding: 10px"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Ugandan Sign language interpreter</h5>
                  <p class="card-text" id="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" onclick="location.href='/intern';">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                  style="padding: 10px"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    International sign language interpreter
                  </h5>
                  <p class="card-text" id="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" onclick="location.href='/mobguide';">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  style="padding: 10px"
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mobility Guide</h5>
                  <p class="card-text" id="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" onclick="location.href='/caption';">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  style="padding: 10px"
                  src="{% static 'images/physical.png' %}"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Captioning</h5>
                  <p class="card-text" id="card-text">view service providers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
