{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
  </head>
  <body>
  <div>{% include 'profiles/serviceUserNavbar.html' %}</div>
    <div class="dashSP">
      <h3>Ugandan Signlanguage Interpreters</h3>
      <br />
      <div>              
        <table class="table">
          <thead
            class="thead-dark"
            style="color: #fff; background-color: #35d187"
          >
            <tr>
              <th scope="col">Service Provider</th>
              <th scope="col">Gender</th>
              <th scope="col">Service Offered</th>
              <th scope="col">Location</th>
              <th scope="col">Price per Visit(UGX)</th>
              <th scope="col">Book</th>
            </tr>
          </thead>
          <tbody>
          {% for serviceprovider in serviceproviders %}
       {% if serviceprovider.service == "Ugandan Sign Language Interpreter" and serviceprovider.status == "Active" %} 
            <tr>
              <td>{{serviceprovider.fullname}}</td>
              <td>{{serviceprovider.gender}}</td>
              <td>{{serviceprovider.service}}</td>
              <td>{{serviceprovider.phyadd}}</td>
              <td>{{serviceprovider.pricevisit}}</td>

              <td>
                     <a
                class="btn btn-success"
                href="{% url 'profiles:create_booking' serviceprovider.id %}"
                >Book Now</a>
              </td>
            </tr>
            {% else %}
            {% comment %} <span style="display: flex;", "justifyContent: center;" >
                    There are no Personal Support Assistants now, check again
                    later
                  </span> {% endcomment %}
                  <div></div>

             {% endif %}
             {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      <footer>{% include 'profiles/footer.html' %}</footer>
  </body>
</html>
